<div data-task-modal-target="container" data-background-id="modal-background-light" data-action="click->task-modal#closeBackground keyup@window->task-modal#closeWithKeyboard"
     class="p-24 hidden fixed inset-0 flex items-start justify-center overflow-x-hidden overflow-y-scroll"
     style="z-index: 9999;"
>
  <div class="relative flex flex-col justify-between bg-white rounded-sm p-20 w-1/2">
    <%= link_to "#", data: { action: "click->task-modal#closeBackground" }, class: "p-8 text-gray-900 absolute top-0 right-0" do %>
      <%= heroicon "x", options: { class: "w-8 h-8" } %>
    <% end %>

    <div id="task_form"></div>
  </div>
</div>
