<div data-task-modal-target="container" data-background-id="modal-background-light" data-action="click->task-modal#closeBackground keyup@window->task-modal#closeWithKeyboard"
     class="hidden fixed inset-0 flex items-center justify-center"
     style="z-index: 9999;"
>
    <div class="flex flex-col justify-between bg-white rounded-sm p-20 w-2/3 h-2/3">
      <div id="task_form"></div>
    </div>
</div>
