<div data-task-modal-target="container" data-action="click->task-modal#closeBackground keyup@window->task-modal#closeWithKeyboard"
     class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center"
     style="z-index: 9999;">
  <div class="max-w-lg max-h-screen w-full relative">
    <div class="m-1 bg-white rounded shadow">
      <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          task
        </h3>
      </div>
      <%= tag.div nil, id: 'task_form' %>
    </div>
  </div>
</div>
