<%= turbo_frame_tag "task" %>

<div class="w-full h-full" data-controller="task-modal" data-task-modal-prevent-default-action-opening="false" data-task-modal-prevent-default-action-closing="false">
  <%= render partial: "tasks/modal_form" %>

  <div class="w-full h-full" data-controller="graph">
    <svg id="svg-canvas" class="w-full h-full" data-graph-target="container"></svg>
  </div>
</div>
