.background {
  @apply text-gray-100 fill-current;
}

.node {
  @apply cursor-pointer stroke-current text-gray-200 drop-shadow-md;

  fill: white;

  stroke-width: 1px;

  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .2));
}

.link {
  stroke: #999;
  stroke-width: 2px;
  stroke-opacity: 1;

  marker-end: url(#end-arrow);
}

.link-label {
  @apply text-gray-600 fill-current;

  font-family: Cantarell;
  font-size: 10px;
  text-anchor: middle
}

.label {
  @apply cursor-pointer text-gray-800 fill-current;

  font-family: Cantarell;
  font-size: 16px;
  text-anchor: start;

  text-overflow: ellipsis;

  white-space: nowrap;
  overflow: hidden;
}

.icon {
  @apply cursor-pointer fill-current;
}

.type {
  @apply cursor-pointer fill-current;

  font-size: 14px;
  font-family: Cantarell;
}
