.node {
  @apply cursor-pointer;

  stroke: white;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-width: 2px;
  stroke-opacity: 1;
}

.label {
  @apply cursor-pointer;

  fill: gray;
  font-family: Cantarell;
  text-anchor: middle;
}
