.notification {
  animation: notification 0.25s 1;
  -webkit-animation: notification 0.25s 1;
  animation-fill-mode: forwards;

  animation-delay: 2s;
  -webkit-animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes notification {
  from { opacity: 1; }
  to { opacity: 0; }
}

@-webkit-keyframes notification {
  from { opacity: 1; }
  to { opacity: 0; }
}
